In [1]:
dates = [1982,1980,1973]  # List Data Structure
N = len(dates)  # N = 3

for i in range(N):
    print(dates[i])

1982
1980
1973

In [2]:
dates[i]

1973

In [3]:
for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [5]:
for ind in enumerate(dates):
    print(ind)

(0, 1982)
(1, 1980)
(2, 1973)

In [6]:
for year in dates:  
    print(year)

1982
1980
1973

In [10]:
for row in range(5):
    for col in range(1,row+1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *

In [12]:
for row in range(8):
    for col in range(1,row+1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [12]:
for row in range(5):
    for col in range(1,row-1):
        print('*', end=' ')
    print()

*
* *

In [4]:
for row in range(8):
    for col in range(1,row*1):
        print(' ', end = '***')
    print()

* ***
* **** ***
* **** **** ***
* **** **** **** ***
* **** **** **** **** ***
* **** **** **** **** **** ***

In [11]:
for row in range(8):
    for col in range(1,row+1):
        print('**', end=' ')
    print()

**
** **
** ** **
** ** ** **
** ** ** ** **
** ** ** ** ** **
** ** ** ** ** ** **

In [12]:
for row in range(5,0,-1):
    for col in range(row):
        print('* ', end=' ')
    print()

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [13]:
for row in range(8,0,-1):
    for col in range(row):
        print('* ', end=' ')
    print()

*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [15]:
for row in range(5,-1):
    for col in range(row):
        print('* ', end=' ')
    print()

In [17]:
for row in range(5,-1):
    for col in range(row):
        print('* ', end=' ')
    print()

In [4]:
for row in range(8):
    for col in range(1,row+1):
        print('*', end=' ')
    print()
for row in range(8):
    for col in range(row-1,7):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [21]:
for row in range(8,0,-1):
    for col in range(1,row+1):
        print('*', end=' ')
    print()

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
for row in range(6):
    for col in range(row-1,5):
        print('*', end=' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for row in range(8,0,-1):
    for col in range(1,row+1):
        print('*', end=' ')
    print()

In [27]:
size = 7
m = (2*size) -2
for row in range(0,size):
    for col in range(0,m):
        print(end= ' ')
    m = m-1
    for col in range(0, row+1):
        print('* ', end=' ')
    print()

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [29]:
lastNumber = 6
asciiNumber = 65
for row in range(0, lastNumber):
    for col in range(0, row+1):
        character  = chr(asciiNumber)
        print(character, end=' ')
        asciiNumber+=1
    print(" ")

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [10]:
# Python 3.x code to demonstrate star pattern 

# Function to demonstrate printing pattern 
def pypart2(n): 
	
	# number of spaces 
	k = 2*n - 2

	# outer loop to handle number of rows 
	for i in range(0, n): 
	
		# inner loop to handle number spaces 
		# values changing acc. to requirement 
		for j in range(0, k): 
			print(end=" ") 
	
		# decrementing k after each loop 
		k = k - 2
	
		# inner loop to handle number of columns 
		# values changing acc. to outer loop 
		for j in range(0, i+1): 
		
			# printing stars 
			print("* ", end="") 
	
		# ending line after each row 
		print("\r") 

# Driver Code 
n = 5
pypart2(n)

        *
      * *
    * * *
  * * * *
* * * * *

In [6]:
my_str = 'Python'
x = 0
for i in my_str:
    x = x+1
    print(my_str[0:x])

P
Py
Pyt
Pyth
Pytho
Python

In [7]:
my_str = 'Shyam'
x = 0
for i in my_str:
    x = x+1
    print(my_str[0:x])

S
Sh
Shy
Shya
Shyam

In [8]:
my_list = [1, 5, 12, 91, 102]
my_list_length = len(my_list)
for i in range(0,my_list_length):
    print(i,my_list[i]*my_list[i])

0 1
1 25
2 144
3 8281
4 10404

In [9]:
for row in range(6):
    for col in range(6):
        if col == 0 or row==5 or row ==col:
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

*
* *
*   *
*     *
*       *
* * * * * *

In [10]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])
print(squares)

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight
['weight', 'weight', 'weight', 'weight', 'weight']

In [11]:
squares

['weight', 'weight', 'weight', 'weight', 'weight']

In [12]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [13]:
for i in squares:
    pass
print(i)

blue

In [15]:
for row in range(6):
    for col in range(5):
        if col==0 or row==5:
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

*
*
*
*
*
* * * * *

In [16]:
for row in range(6):
    for col in range(7):
        if (row==0 and col%3!=0)or (row==1 and col%3==0)or(row-col==2)or(row+col==8):
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

  * *   * *
*     *     *
*           *
  *       *
    *   *
      *

In [17]:
for row in range(5):
    for col in range(25):
        if(row==0 and col<=3)or(col==0)or(row==2 and col <=3)or(col==3 and row%3!=0)or(row-col==2)or(col==4)or(col==7)or(row==8):
            print('@',end = ' ')
        else:
            print(' ', end=' ')
    print()

@ @ @ @ @     @
@     @ @     @
@ @ @ @ @     @
@ @     @     @
@   @ @ @     @

In [1]:
   for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or ((row==0 or row==3)and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [2]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or ((row==0 or row==3 or row==6)and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [23]:
for row in range(7):    
    for col in range(5):     
        if (col == 0) or ((row==0 or row==6) and (col > 0)):
            print('*',end = ' ') 
        else:      
             print(end=' ')  
    print()

* * * * *
*
*
*
*
*
* * * * *

In [9]:
for row in range(7):    
    for column in range(7):     
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 5)) or (column == 5 and row != 0 and row != 6)):  
            print('*',end = ' ')   
        else:      
            print(' ', end=' ')    
    print()

  * * * *
  *       *
  *       *
  *       *
  *       *
  *       *
  * * * *

In [10]:
for row in range(7):    
    for column in range(7):     
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 6)) or (row == 3 and column > 1 and column < 5)):  
            print('*',end = ' ')   
        else:      
            print(' ', end=' ')    
    print()

  * * * * *
  *
  *
  * * * *
  *
  *
  * * * * *

In [18]:
for row in range(7):    
    for column in range(7):
        if (column == 1 or (row == 0 and column > 1 and column < 6) or (row == 3 and column > 1 and column < 5)):
            print('*',end = ' ')   
        else:      
            print(' ', end=' ')    
    print()

  * * * * *
  *
  *
  * * * *
  *
  *
  *

In [12]:
for row in range(7):    
    for column in range(7):     
        if ((column == 1 and row != 0 and row != 6) or ((row == 0 or row == 6) and column > 1 and column < 5) or (row == 3 and column > 2 and column < 6) or (column == 5 and row != 0 and row != 2 and row != 6)):  
            print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

    * * *
  *       *
  *
  *   * * *
  *       *
  *       *
    * * *

In [13]:
for row in range(7):    
    for column in range(7):     
        if (((row == 0 or row == 3 or row == 6) and column > 1 and column < 5) or (column == 1 and (row == 1 or row == 2 or row == 6)) or (column == 5 and (row == 0 or row == 4 or row == 5))):  
              print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

    * * * *
  *
  *
    * * *
          *
          *
  * * * *

In [14]:
for row in range(7):    
    for column in range(7):     
        if (column == 1 or ((row == 0 or row == 3) and column > 0 and column < 5) or ((column == 5 or column == 1) and (row == 1 or row == 2))):  
            print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

  * * * *
  *       *
  *       *
  * * * *
  *
  *
  *

In [15]:
for row in range(7):    
    for column in range(7):     
        if (column == 3 or (row == 0 and column > 0 and column <6)):  
            print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

  * * * * *
      *
      *
      *
      *
      *
      *

In [16]:
for row in range(7):    
    for column in range(7):     
        if (((column == 1 or column == 5) and row != 0 and row != 6) or ((row == 0 or row == 6) and column > 1 and column < 5)):  
             print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

    * * *
  *       *
  *       *
  *       *
  *       *
  *       *
    * * *

In [24]:
n=int(input("Enter the value of n:"))
print("The diamond star pattern is as follows:")
for i in range(1,n+1):
    print(' '*(n-i-1)+'* '*(i+1))
for i in range(n-1):
    print(' '*(i+1)+'* '*(n-i-1))

Enter the value of n: 7

The diamond star pattern is as follows:
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
* * * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [3]:
for row in range(7):    
    for column in range(7):     
        if ((column == 1 or column == 5) or (row == 3 and column > 1 and column < 5)):
            print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

  *       *
  *       *
  *       *
  * * * * *
  *       *
  *       *
  *       *

In [25]:
for i in range (65,70):
    # inner loop
    for j in range(65,i+1):
        print(chr(j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [26]:
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or column == 5 or (row == 2 and (column == 2 or column == 4)) or (row == 3 and column == 3)):  
            print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

  *       *
  *       *
  * *   * *
  *   *   *
  *       *
  *       *
  *       *

In [34]:
for row in range(7):    
    for col in range(5):     
        if col == 2 or ((row==0 or row==6) and col!=2):
            print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

* * * * *
    *
    *
    *
    *
    *
* * * * *

In [50]:
for row in range(7):    
    for col in range(7):     
        if col == 1 or ((row == col + 1) and col != 0):
            print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

  *
  *
  *
  * *
  *   *
  *     *
  *       *

In [51]:
for row in range(7):    
    for column in range(7):     
        if (column == 1 or ((row == 0 or row == 3) and column > 1 and column < 5) or (column == 5 and row != 0 and row < 3) or (column == row - 1 and row > 2)):  
            print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

  * * * *
  *       *
  *       *
  * * * *
  *   *
  *     *
  *       *

In [54]:
for row in range(7):    
    for column in range(7):     
        if (((column == 1 or column == 5) and row != 6) or (row == 6 and column > 1 and column < 5)):  
              print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

  *       *
  *       *
  *       *
  *       *
  *       *
  *       *
    * * *

In [53]:
for row in range(7):    
    for column in range(7):     
        if (((column == 1 or column == 5) and (row > 4 or row < 2)) or row == column and column > 0 and column < 6 or (column == 2 and row == 4) or (column == 4 and row == 2)):  
              print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

  *       *
  *       *
    *   *
      *
    *   *
  *       *
  *       *

In [55]:
for row in range(7):    
    for col in range(7):     
        if(col==2 and row>1) or (row==col and col<2) or (row==0 and col==4) or (row==1 and col==3):
            print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

*       *
  *   *
    *
    *
    *
    *
    *

In [57]:
for row in range(7):    
    for column in range(7):     
        if (((row == 0 or row == 6) and column >= 0 and column <= 6) or row+column==6):  
              print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

* * * * * * *
          *
        *
      *
    *
  *
* * * * * * *

In [62]:
i = 0
j = 6
for row in range(4):
    for col in range(7):
        if row==col:
            print('*',end='')
        elif row == i and col == j:
             print('*', end=' ')
             i = i+1
             j = j-1
        else:      
            print(end=' ')   
    print()

*     *
 *   *
  * *
   *

In [63]:
for row in range(7):    
    for col in range(5):
        if col == 2 or (row == 0 and col!=2) or (row == 6 and col<2):
            print('*', end=' ')    
        else:      
            print(' ', end=' ')   
    print()

* * * * *
    *
    *
    *
    *
    *
* * *

In [65]:
num = int(input("Enter the number of rows"))
for i in range(1,num+1):
    for j in range(1,num-i+1):
        print(end=' ')
    for j in range(i,0,-1):
        print(j,end=" ")
    for j in range(2,i+1):
        print(j, end=" ")
    print()

Enter the number of rows 5

    1
   2 1 2
  3 2 1 2 3
 4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [4]:
for row in range(6):
   for col in range(5):
       if row==3 or col==0 or col==4:
           print('*',end=' ')
       else:
           print(' ',end=' ')
   print()

*       *
*       *
*       *
* * * * *
*       *
*       *

In [13]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number:  100

Multiplication Table of 100
100 X 1 = 100
100 X 2 = 200
100 X 3 = 300
100 X 4 = 400
100 X 5 = 500
100 X 6 = 600
100 X 7 = 700
100 X 8 = 800
100 X 9 = 900
100 X 10 = 1000

In [17]:
num = int(input("Enter the number: "))
print("Multiplication Table of", num)
for i in range(1,10):
    print(num,"X",i,"=",num * i)
    num+=1

Enter the number:  5

Multiplication Table of 5
5 X 1 = 5
6 X 2 = 12
7 X 3 = 21
8 X 4 = 32
9 X 5 = 45
10 X 6 = 60
11 X 7 = 77
12 X 8 = 96
13 X 9 = 117